undo
backup
swap
tmp
shutdown_session.vim
manual_session.vim

# SHADA stand for SHAred DAta, and is sort of like a session file, but only for
# nvim.  :help shada to read more.
shada

# Vundle-managed software takes care of itself
#
#   Because of how vundle works, these are each inidividual git repositories
bundle

# Except, of course, vundle itself.  This has the additional benefit of
# preserving the 'bundle' directory
!bundle/vundle.vim

# Don't track what colorscheme is used
colorscheme.vim
